.dropdown-year {
  display: block;
  &.btn-year {
    margin-right: auto;
    padding: 4px 18px;
  }
}

.evaluate-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .common-bar-chart {
    width: 90% !important;
    height: 90% !important;
    margin-bottom: 100px;
  }
  .radar-chart {
    width: 85% !important;
    height: 85% !important;
  }
}
