#table-card-list {
  .ant-card-head {
  }
  .ant-card-body {
    .ant-table-thead {
    }
    .ant-table-tbody {
      .ant-table-row {
        &.Renewal-Pending {
          background-color: #f8bc25;
          .ant-table-cell-row-hover {
            background-color: #bbc1be;
          }
        }
        &.Probation {
          background-color: #b7bcc1c2;
          .ant-table-cell-row-hover {
            background-color: #7c7e80c2;
          }
        }
        // .ant-table-cell-row-hover {
        //   background-color: #bbc1be;
        // }
      }
    }
  }
}
