#header {
  width: 100%;
  background-color: black;
  // position: relative;
  // left: 0;
  // top: 0;
  // z-index: 3;
  .ant-typography {
    color: white;
  }
  .ant-flex {
    #header-info {
      height: 30px;
      padding: 0 12px;
    }
    #header-nav {
      position: sticky;
      top: 0;
      left: 0;
      z-index: 9;
      background-color: #e0e4e7;
      display: flex;
      align-items: center;
      width: 100%;
      .ant-menu-item-icon {
        color: rgb(59 70 108);
      }
      .ant-menu-title-content {
        a {
          color: rgb(59 70 108);
        }
      }
      .nav {
        background-color: #e0e4e7;
        // color: white;
        font-size: 16px;
        width: 70%;
        min-width: 720px;
        display: flex;
        justify-content: flex-start;
      }
      .right-header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 150px;
        .avatar-box {
          width: 35px;
          height: 35px;
          &:hover {
            cursor: pointer;
          }
          .avatar {
            width: 100%;
            height: 100%;

            object-fit: cover;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
