.ant-modal-body {
  .ant-list {
    .ant-spin-nested-loading {
      .ant-spin-container {
        .ant-list-items {
          .ant-list-item {
            div {
              width: 100%;
              p {
                height: 30px;
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}
