#root {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: 100vh;
  // /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0 1px;
  text-align: center;
  background-color: grey;
  #hhrm-ui {
    background-color: #f3f5f6;
    #content {
      width: 1080px;
      margin: 0 auto;
    }
  }
}
