#root {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: 100vh;
  // /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0 1px;
  text-align: center;
  background-color: grey;
  #hhrm-ui {
    background-color: #f3f5f6;
    #container {
      width: 100%;
      background-color: white;
      #content {
        width: 1080px;
        margin: 0 auto;
        background-color: #f3f5f6;
        padding: 12px;
      }
      #custom-breadcrumb {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        width: 100%;
        padding-bottom: 12px;
        // border-bottom: 1px solid #00000022;
      }
    }
  }
}
