.ant-table-container {
  .ant-table-content {
    .ant-table-thead {
      .title_content-center {
        text-align: center !important;
      }
    }
    .ant-table-tbody {
      .ant-table-row {
        .ant-table-cell {
          .null-cell_content-center {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}
.extend-modal {
  width: 1080px !important;
  max-height: 80vh !important;
  background-color: white;
  overflow-y: auto;
  top: 10vh;
  .ant-modal-content {
    .ant-modal-body {
      .ant-form {
        &.ant-form-horizontal {
          max-width: 100%;
          .container-form-item {
            width: 50%;
          }
          .ant-form-item {
            // flex: 1 1 50%; /* Mỗi phần tử chiếm 50% chiều rộng (4 phần tử trên mỗi hàng) */
            max-width: 50%;
          }
        }
      }
    }
  }
}

.extend-modal_one-column {
  width: 1080px !important;
  max-height: 80vh !important;
  background-color: white;
  overflow-y: auto;
  top: 10vh;
  .ant-modal-content {
    .ant-modal-body {
      .ant-form {
        &.ant-form-horizontal {
          max-width: 100%;
          // .container-form-item {
          //   width: 50%;
          // }
          .ant-form-item {
            // flex: 1 1 50%; /* Mỗi phần tử chiếm 50% chiều rộng (4 phần tử trên mỗi hàng) */
            max-width: 80%;
          }
        }
      }
    }
  }
}

.btn-add-object {
  min-width: 100px;
  height: 40px;
  float: right;
  margin: 4px;
}

.ant-form-item-control {
  margin: auto;
  .btn-submit-post {
    width: 100%;
    height: 40px;
  }
}

.btn-edit {
  background-color: #f08300;
  color: white;
}
.btn-delete {
  background-color: #ff4d4f;
  color: white;
}
.btn-create {
  background-color: #1677ff;
  color: white;
}
